---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Services from "../components/Services.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Fragment slot="header">
		<Header />
	</Fragment>

	<!-- Hero (section 1)-->
	<section class="relative overflow-hidden bg-[#0f2147] text-white">
		<div class="absolute inset-0">
			<img
				src="/img/hero.webp"
				alt="SAI Finance"
				class="h-full w-full object-cover"
			/>
			<div class="absolute"></div>
		</div>

		<div class="relative mx-auto max-w-6xl px-0 py-16 lg:py-24">
			<div class="max-w-2xl">
				<span
					class="inline-flex items-center gap-2
         rounded-full border border-white/30
         px-6 py-1
         font-Poppins font-medium
         text-[21.74px] leading-[32.61px] tracking-normal
         capitalize
         text-white/90"
				>
					+ Expert Financing +
				</span>

				<h1 class="mt-6 text-4xl font-bold leading-tight lg:text-5xl">
					Build Wealth <br /> Through Property <br />— with the right <br
					/> Finance Strategy.
				</h1>
			</div>

			<p
				class="mt-4 max-w-xl
         font-DM Sans font-normal
         text-[21.74px] leading-[29.13px] tracking-normal
         text-white/80"
			>
				Specialised mortgage solutions for Australian property investors
				and first home buyers, backed by expert guidance on every step
				of the way.
			</p>

			<div class="mt-8 flex flex-wrap items-center gap-4">
				<a
					href="/contact"
					class="inline-flex items-center gap-2
         rounded-full
         bg-white
         border border-[#9CABC3]
         pl-5 pr-2 py-2
         font-Poppins font-bold
         text-[15px] leading-[100%] tracking-normal
         text-[#9CABC3]"
				>
					Book a Free Strategy Call
					<span
						class="inline-flex h-8 w-8 items-center justify-center
           rounded-full bg-[#0f2147] text-white"
					>
						&#8599;
					</span>
				</a>

				<a
					href="tel:+61433967374"
					class="inline-flex items-center gap-2 text-sm font-semibold text-white/90"
				>
					<span
						class="inline-flex h-10 w-10 items-center justify-center rounded-full border border-white/40"
					>
						&#9742;
					</span>
					<span
						class="font-Inter font-normal text-[15.22px] leading-[15.22px] tracking-normal text-white"
					>
						Explore your borrowing power
						<span
							class="block
         font-Poppins font-medium
         text-[17.39px] leading-[28.26px] tracking-normal
         text-white/70 mt-1"
						>
							+61 433 967 374
						</span>
					</span>
				</a>
			</div>
		</div>

		<div
			class="absolute bottom-0 right-0 hidden md:block bg-white rounded-tl-4xl shadow-lg"
		>
			<img
				src="/img/img_1.webp"
				alt="Chat with us"
				class="h-[70px] w-auto rounded-lg shadow-lg"
				loading="lazy"
			/>
		</div>
	</section>

	<!-- section 2 -->
	<Services />

	<!-- section 3 -->
	<section class="mt-8">
		<div class="mx-auto max-w-7xl px-6">
			<div class="grid lg:grid-cols-2 lg:gap-12 gap-5">
				<!-- LEFT SIDE -->
				<div class="flex flex-col">
					<div class="flex lg:flex-row flex-col gap-10 lg:ml-20">
						<!-- Badge -->
						<div>
							<span
								class="inline-flex items-center justify-center
                 rounded-full bg-[#1d2d53]
                 w-34 px-3 py-1
                 text-[18px] leading-[28px]
                 font-normal text-white capitalize"
							>
								Our Value
							</span>
						</div>

						<div class="">
							<!-- Heading -->
							<h1
								class="font-DM Sans font-semibold
                 text-4xl text-5xl lg:text-[40px]
                 leading-tight lg:leading-[50px]
                 bg-gradient-to-b from-[#5A72A7] to-[#17284D]
                 bg-clip-text text-transparent"
							>
								Your success <br class="hidden sm:block" />
								is our priority.
							</h1>

							<!-- Paragraph -->
							<p
								class="mt-2 max-w-lg font-Inter
                 text-[16px] leading-[28px]
                 text-[#15274B]"
							>
								Our mission is to empower businesses of all
								sizes to thrive in an ever-changing marketplace.
							</p>
						</div>
					</div>
					<!-- Image -->
					<img
						src="/img/our_value.webp"
						alt="SAI Finance"
						class="w-full h-full lg:-mt-24 lg:-ml-16"
					/>
				</div>

				<!-- RIGHT SIDE VALUES -->
				<div class="grid gap-y-4 gap-x-8 lg:grid-cols-2 grid-cols-1">
					<!-- Item -->
					<div class="flex flex-col items-start gap-4">
						<div>
							<img src="/img/icon_1.png" class="w-12 h-12" />
						</div>
						<div>
							<h3
								class="font-Poppins font-semibold
         text-[20px] leading-[26.8px] tracking-normal
         bg-gradient-to-l from-[#17284D] to-[#5A72A7]
         bg-clip-text text-transparent"
							>
								40+ lenders
							</h3>

							<p
								class="mt-2 font-Inter font-normal text-[15px] leading-[26px] tracking-normal text-primary"
							>
								Our lending portfolio includes all major banks,
								cooperatives, and non-banking financial
								institutions.
							</p>
						</div>
					</div>

					<div class="flex flex-col items-start gap-4">
						<div>
							<img src="/img/icon_2.png" class="w-12 h-12" />
						</div>
						<div>
							<h3
								class="font-Poppins font-semibold
         text-[20px] leading-[26.8px] tracking-normal
         bg-gradient-to-l from-[#17284D] to-[#5A72A7]
         bg-clip-text text-transparent"
							>
								Personalised Loan Guidance
							</h3>
							<p
								class="mt-2 font-Inter font-normal text-[15px] leading-[26px] tracking-normal text-primary"
							>
								We tailor our services to each client’s unique
								needs, aligning our approach with their
								financial goals and current circumstances.
							</p>
						</div>
					</div>

					<div class="flex flex-col items-start gap-4">
						<div>
							<img src="/img/icon_3.png" class="w-12 h-12" />
						</div>
						<div>
							<h3
								class="font-Poppins font-semibold
         text-[20px] leading-[26.8px] tracking-normal
         bg-gradient-to-l from-[#17284D] to-[#5A72A7]
         bg-clip-text text-transparent"
							>
								Excellent Customer Service
							</h3>
							<p
								class="mt-2 font-Inter font-normal text-[15px] leading-[26px] tracking-normal text-primary"
							>
								We provide clear guidance and timely updates
								throughout the process to ensure a smooth and
								informed loan experience.
							</p>
						</div>
					</div>

					<div class="flex flex-col items-start gap-4">
						<div>
							<img src="/img/icon_5.png" class="w-12 h-12" />
						</div>
						<div>
							<h3
								class="font-Poppins font-semibold
         text-[20px] leading-[26.8px] tracking-normal
         bg-gradient-to-l from-[#17284D] to-[#5A72A7]
         bg-clip-text text-transparent"
							>
								Fast Approval Process
							</h3>
							<p
								class="mt-2 font-Inter font-normal text-[15px] leading-[26px] tracking-normal text-primary"
							>
								Experience fast, hassle-free loan approvals
								through our digitally managed process, supported
								by clear upfront document requirements.
							</p>
						</div>
					</div>

					<div class="flex flex-col items-start gap-4">
						<div>
							<img src="/img/icon_5.png" class="w-12 h-12" />
						</div>
						<div>
							<h3
								class="font-Poppins font-semibold
         text-[20px] leading-[26.8px] tracking-normal
         bg-gradient-to-l from-[#17284D] to-[#5A72A7]
         bg-clip-text text-transparent"
							>
								ACL, CRN Licensee & FBAA Member
							</h3>
							<p
								class="mt-2 font-Inter font-normal text-[15px] leading-[26px] tracking-normal text-primary"
							>
								In addition to our extensive experience and
								refined processes, we hold all required industry
								licenses and memberships, further strengthening
								our credibility.
							</p>
						</div>
					</div>

					<div
						class="flex flex-col items-center justify-center text-center"
					>
						<a
							href="/contact"
							class="inline-flex items-center gap-2
         rounded-full
         bg-primary
         border border-[#9CABC3]
         pl-5 pr-2 py-2
         font-Poppins font-bold
         text-[15px] leading-[100%] tracking-normal
         text-white"
						>
							More About Us
							<span
								class="inline-flex h-8 w-8 items-center justify-center
           rounded-full bg-white text-primary"
							>
								&#8599;
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>

		<Fragment slot="footer">
			<Footer />
		</Fragment>
	</section>
</Layout>
