<section class="mx-auto max-w-5xl px-6 md:px-14 lg:px-0">
    <div class="grid lg:grid-cols-[420px_1fr] lg:items-start">
        <div
            class="relative flex justify-center md:justify-center lg:justify-start"
        >
            <img
                src="/img/keyur.webp"
                alt="Keyur Bandhara"
                class="h-full w-[330px] rounded-[28px] object-cover"
            />
        </div>

        <div class="lg:pt-3 pt-10">
            <div
                class="flex items-center gap-2 text-sm font-semibold text-[#0f2147]"
            >
                <img src="/img/icon_img_6.png" class="" />
                <span class="font-dm-sans font-semibold text-[16px]">
                    About Us
                </span>
                <img src="/img/icon_img_7.png" class="" />
            </div>

            <h2
                class="mt-1 font-dm-sans font-semibold
         lg:text-[40px] text-[25px] lg:leading-[57.6px]
         tracking-normal
         text-[#0f2147]"
            >
                Keyur Bandhara
            </h2>

            <p class="mt-2 font-dm-sans text-[18px] font-medium text-[#4B5E8A]">
                Founder and Director
            </p>
            <p class="mt-1 font-dm-sans text-[14px] text-[#9AA4B2]">
                ACL#478761, CRN#529186
            </p>

            <div
                class="mt-4 space-y-4 font-dm-sans text-[16px] leading-[28px] text-[#15274B]"
            >
                <p>
                    Keyur Bandhara (KB) is a seasoned finance professional with
                    more than 16 years of experience in mortgage and home
                    lending, known for his deep expertise in credit assessment,
                    loan structuring, and guiding clients through complex
                    lending scenarios. Drawing on 12 years in major banking
                    institutions—spanning roles as a Credit Analyst, Mobile Home
                    Finance Manager, and end-to-end lending specialist—he brings
                    a strong command of credit policy, risk evaluation, and
                    lender processes. Over the past several years as Director
                    and Finance Broker at SAI Finance, Keyur has built a
                    reputation for delivering personalised, strategic lending
                    solutions for homebuyers, investors, and refinancers. His
                    approach is grounded in clarity, accessibility, and a
                    genuine commitment to making homeownership stress-free,
                    ensuring every client receives tailored advice aligned with
                    their financial goals.
                </p>
            </div>

            <div class="mt-5 flex flex-wrap gap-4">
                <a
                    href="tel:+61433967374"
                    class="inline-flex items-center justify-center h-11 w-34 gap-3 rounded-xl bg-[#1d2d53] font-dm-sans text-[16px] leading-[24px] tracking-normal text-white"
                >
                    Call Now
                </a>

                <a
                    href="mailto:keyur@SAIFinance.com.au"
                    class="inline-flex items-center justify-center border-2 border-primary h-11 w-34 rounded-xl text-[#1d2d53] font-dm-sans text-[16px] leading-[24px] tracking-normal"
                >
                    <span
                        class="inline-flex h-8 w-8 items-center justify-center rounded-full text-primary"
                    >
                        &#9993;
                    </span>
                    Send Email
                </a>
            </div>
        </div>
    </div>
</section>
