<section class="mx-auto max-w-5xl px-6">
    <div class="grid lg:grid-cols-[420px_1fr] lg:items-start">
        <div class="relative">
            <img
                src="/img/keyur.webp"
                alt="Keyur Bandhara"
                class="h-full w-[330px] rounded-[28px] object-cover"
            />
        </div>

        <div class="lg:pt-3  pt-10">
            <div
                class="flex items-center gap-2 text-sm font-semibold text-[#0f2147]"
            >
                <img src="/img/icon_img_6.png" class="" />
                <span class="font-dm-sans font-semibold  text-[16px]">
                    About Us
                </span>
                <img src="/img/icon_img_7.png" class="" />
            </div>

            <h2
                class="mt-1 font-dm-sans font-semibold
         lg:text-[40px] text-[25px] lg:leading-[57.6px]
         tracking-normal
         text-[#0f2147]"
            >
                Keyur Bandhara
            </h2>

            <p class="mt-2 font-dm-sans text-[18px] font-medium text-[#4B5E8A]">
                Founder and Director
            </p>
            <p class="mt-1 font-dm-sans text-[14px] text-[#9AA4B2]">
                ACL#478761, CRN#529186
            </p>

            <div
                class="mt-4 space-y-4 font-dm-sans text-[16px] leading-[28px] text-[#15274B]"
            >
                <p>
                    The founder of SAI Finance, KB has worked for banks,
                    mortgage bankers, mortgage brokers and mortgage insurance
                    companies as a Credit Analyst, Service Representative, Loan
                    processor and broker manager.
                </p>
                <p>
                    KB has 15+ years of experience in the financial sector and
                    knows the mortgage broking industry inside and out.
                </p>
            </div>

            <div class="mt-5 flex flex-wrap gap-4">
                <a
                    href="tel:+61433967374"
                    class="inline-flex items-center justify-center h-11 w-34 gap-3 rounded-xl bg-[#1d2d53] font-dm-sans text-[16px] leading-[24px] tracking-normal text-white"
                >
                    Call Now
                </a>

                <a
                    href="mailto:keyur@SAIFinance.com.au"
                    class="inline-flex items-center justify-center border-2 border-primary h-11 w-34 rounded-xl text-[#1d2d53] font-dm-sans text-[16px] leading-[24px] tracking-normal"
                >
                    <span 
                        class="inline-flex h-8 w-8 items-center justify-center rounded-full text-primary"
                    >
                        &#9993;
                    </span>
                    Send Email
                </a>
            </div>
        </div>
    </div>
</section>
