<section class="mx-auto max-w-6xl px-6 py-18">
    <div class="grid lg:gap-18 gap-10 lg:grid-cols-2 lg:items-center">
        <div class="relative">
            <img
                src="/img/review_img.webp"
                alt="Customer reviews"
                class="h-full w-full rounded-3xl object-cover"
            />
            <div class="absolute -right-10 top-20 hidden flex-col gap-6 lg:flex">
                <span
                    class="h-20 w-20 rounded-full bg-[#d9d9d9] ring-2 ring-black p-6"
                ></span>
                <span class="h-22 w-22 rounded-full bg-[#d9d9d9]"></span>
                <span class="h-22 w-22 rounded-full bg-[#d9d9d9]"></span>
                <span class="h-22 w-22 rounded-full bg-[#d9d9d9]"></span>
            </div>
        </div>

        <div class="lg:pl-6">
            <span
                class="inline-flex items-center gap-2
         rounded-full
         border border-[#e5e7eb]
         px-4 py-1
         font-Poppins font-medium
         text-[18px] leading-[30px]
         tracking-normal
         capitalize
         text-[#8A99B6]"
            >
                <img src="/img/Text.png" alt="" />
                Testimonial
                <img src="/img/Text.png" alt="" />
            </span>

            <h2
                class="mt-5 font-Poppins font-semibold
         lg:text-[40px] text-[25px] lg:leading-[50px] leading-[40px]
         tracking-normal
        text-primary"
            >
                Reviews from our <br /> customers
            </h2>

            <div class="lg:mt-6 mt-4">
                <div class="text-[64px] leading-none text-[#1d2d53]">
                    <img
                        src="/img/icon_img_13.png"
                        alt="Quote"
                        class="lg:h-12 lg:w-12 h-8 w-8"
                    />
                </div>
                <p
                    class="mt-2 font-Inter font-normal
         lg:text-[20px] text-[18px] lg:leading-[35px] leading-[28px]
         text-[#14254A];
"
                >
                    “ Working with several word themes templates the last years
                    only can say this is best in every level use it for my
                    reviews that I have already are company and the reviews that
                    I have already are all excellent. Not only the design.”
                </p>
            </div>

            <div class="mt-6">
                <p
                    class="font-Poppins text-[20px] font-semibold text-primary"
                >
                    Marvin mckinney
                </p>
                <p class="font-dm-sans text-[16px] text-[#9AA4B2]">
                    Product Manager
                </p>
            </div>
        </div>
    </div>
</section>
